
.product_detils_section{
    max-width: 90%;
    margin: 30px auto;
}
.product_details_page{
    display: flex;
    gap: 20px;
    position: relative;
}

.category_sidebar_details{
    width: 25%;
    background-color: var(--primary-color);
    padding: 0px 10px;
}
.category_sidebar_details li{
    list-style: none;
    padding: 8px;
}
.category_sidebar_details li a{
    color: var(--white-color);
    text-decoration: none;
    font-size: var(--font-size16);
    font-weight: var(--font-weight500);
    font-family: var(--font-family);
}
.details_content{
    width: 75%;
    display: flex;
    gap: 20px;
    justify-content: center !important;
    margin: 0px auto;
}

.product_description{
    width: 400px;
    justify-content: flex-end;
    text-align: center;
    box-shadow: var(--box-shadow);
}
.product_details_name{
    margin-bottom: 20px;
}
.product_details_name h1{
    font-size: var(--font-size24);
    font-weight: var(--font-weight500);
    font-family: var(--font-family);
    color: var(--black-color);
}
.details_image_content{
    width: 30%;
}
.details_info_content{
    /* width: 70%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details_price{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
.details_price p{
    font-size: var(--font-size16);
    font-weight: var(--font-weight500);
    font-family: var(--font-family);
    margin-right: 10px;
    color: var(--black-color);
}
.vairation{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.vairation h1{
    font-size: var(--font-size18);
    font-weight: var(--font-weight300);
    font-family: var(--font-family);
    margin: 10px 0px;
    color: var(--black-color);
    text-align: center;
}
.vairation_type{
    display: flex;
    gap: 5px;
    box-shadow: var(--box-shadow);
    padding: 8px;
}

.details_cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.add_to_cart_details_div{
    padding: 8px;
    background-color: var(--site-color);
}
.add_to_cart_details_div a{
    text-decoration: none;
    color: var(--white-color);
    font-size: var(--font-size18);
    font-weight: var(--font-weight600);
    font-family: var(--font-family);
}
.details_image_content img{
    width: 100% !important;
    height: 300px;
}
.pro_gallery_container{
    width: 100%;
    position: relative;
}
.product_rating_star{
    display: flex;
    gap: 10px;
   margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}
.product_rating_star span{
    font-size: 24px;
    color: #F79028;
}
.product_gallery {
    width: 95% !important;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    overflow-x: scroll !important; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.product_gallery::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.product_gallery_item {
    flex: 0 0 auto; /* Prevent items from shrinking */
    width: 100px !important;
    height: 100px;
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.product_gallery_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.btn_next{
    position: absolute;
    display: flex;
    justify-content: space-between !important;
    top: 50% !important;
    left: 0;
    right: 0;
    width: max-content;
    cursor: pointer;
}
.btn_prev{
    position: absolute;
    display: flex;
    justify-content: flex-start !important;
    top: 50% !important;
    right: 0;
    width: max-content;
    cursor: pointer;
}
.btn_next i,.btn_prev i{
    font-size: var(--font-size20);
}

/* review_container */
.review_container{
    margin: 20px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.review_container button{
    text-align: center;
    border: none;
    background-color: var(--site-color);
    color: var(--white-color);
    cursor: pointer;
    padding: 8px;
}
.rate_product{
    margin: 20px 0px;
}

.rate_product span{
    font-size: 24px;
    color: #F79028;
    cursor: pointer;
}

.rating_form{
    margin: 20px 0px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.rating_form textarea{
    width: 90%;
    resize: none;
    outline: none;
    border-radius: var(--border-radius);
}
.rating_form input{
    display: none;
}
.rating_form button{
    width: 100%;
    padding: 8px;
    border: none;
    background-color: var(--site-color);
    color: var(--white-color);
    cursor: pointer;
}
.highlight{
    color: green !important;
}
@media (max-width: 900px){
    /* Add styles here for devices with a width between 600px and 1024px */
    .category_sidebar_details{
        width: 20%;
    }
    .details_content{
        width: 100% !important;
        flex-wrap: wrap;
        justify-content: center;
        padding: 8px;
    }
    .details_image_content{
        width: 300px;
        height: max-content;
        padding: 20px;
    }
    .details_info_content{
        width: 300px !important;
    }
    .product_description{
        width: 300px;
        padding: 5px;
    }
    .category_sidebar_details{
        position: absolute;
        top: 0;
        display: none;
        left: 0;
        width: 250px !important;
        z-index: 99;
    }
    .add_to_cart_details_div i{
        display: none;
    }
}
/* @media (min-width: 600px) and (max-width: 1024px) {
  
    .details_content {
        justify-content: center;
        background-color: lightgoldenrodyellow;
    }
} */
