
.product_section{
    max-width: 90%;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
}
.pro_category_links{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.pro_category_links div{
    margin-bottom: 10px;
    text-align: center;
    background-color: var(--site-color);
    padding: 8px;
    border-radius: var(--border-radius);
}
.pro_category_links div a{
    color: var(--white-color);
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: var(--font-weight700);
    font-size: var(--font-size16);
}

.product_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}




.product_item_holder{
    width: 250px;
    text-align: center;
    height: 400px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 8px;
    position: relative;
    margin-bottom: 50px;
}
.product_item_holder a{
    text-decoration: none;
}
.product_item_holder .proimage {
    width: 100%;
    height: 250px;
}
.product_item_holder .proimage img{
    width: 100%;
    height: 100%;
}

.product_name_div h1{
    margin: 0px;
    font-size: var(--font-size18);
    font-weight: var(--font-weight700);
    font-family: var(--font-family);
    color: var(--primary-color);
}
.product_name_div p{
    margin: 5px 0px;
    font-size: var(--font-size14);
    font-weight: var(--font-weight400);
    font-family: var(--font-family);
    color: var(--primary-color);
}
.product_price p{
    margin: 5px 0px;
    font-size: var(--font-size16);
    font-weight: var(--font-weight600);
    font-family: var(--font-family);
    color: var(--site-color);
}

.pro_icons_position{
    position: absolute;
    top: 10% !important;
    right: 0;
    padding: 5px 8px;
    font-size: var(--font-size14);
    font-weight: var(--font-weight600);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 16px !important;
    flex-direction: column;
}

.pro_icons_position div{
    margin: 6px 0px;
    background-color: var(--site-color);
    color: var(--white-color);
    padding: 5px;
    border-radius: 10px;
}
.pro_icons_position div a{
    text-decoration: none;
    color: var(--white-color);
}
.pro_icons_position div a i{
    color: var(--white-color);
    font-size: 20px;
}
.product_buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.product_buttons .addtocartdiv{
    background-color: var(--site-color);
    padding: 8px;
    width: fit-content;
}
.product_buttons .addtocartdiv a{
    text-decoration: none;
    color: var(--white-color);
    font-size: var(--font-size18);
    font-weight: var(--font-weight600);
    font-family: var(--font-family);
}
.product_buttons div p{
    margin: 0px;
    font-size: var(--font-size18);
    font-weight: var(--font-weight600);
    color: var(--border-color);
}

.pro_discount{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--site-color);
    padding: 6px;
    border-radius: var(--border-color);
    margin-top: 4px;
    margin-left: 2px;
    cursor: pointer;
}
.pro_discount p{
    color: var(--white-color);
    font-size: var(--font-size14);
    font-weight: var(--font-weight600);
    text-transform: uppercase;
}




