@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* bg color */
  --bg-color: #ffffff;
  --bg-color-trans:transparent;

  --primary-color: #232f3e;
  --site-color:#EEA200;
  --site-color2:rgba(255, 100, 77, 0.6); 
  --white-color: white;
  --light-gray-color: #f9f9f9;
  --black-color:black;
  --font-size11: 11px;
  --font-size12: 12px;
  --font-size16: 16px;
  --font-size18: 18px;
  --font-size20: 20px;
  --font-width300: 300;
  --font-width400: 400;
  --font-weight500: 500;
  --font-weight600: 600;
  --font-weight700: 700;

  /* transition */
  --bg-transition: background-color 0.3s ease-in-out;
  --text-transition: color 0.3s ease-in-out;
  /* box-shadow */
  --box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  --box-shadow1: 0px 2px 5px rgba(0, 0, 0, 0.2);
  /* border */
  --border-radius: 5px;
  --border1: 1px solid;
  --border: 2px solid ;
  --border-color: #FF644D;
  --transition: border-color 0.5s ease-in-out;
  /* padding */
  --padding: 10px;
  --padding-small: 5px;
  /* margin */
  --margin-top: 10px;
  --margin-bottom: 10px;
  /* font */
  --font-family: "Poppins", sans-serif;
  --font-style: normal;
  /* hover */
  --hover-bg-color: #f1f1f1;
}
